@import './styles/theme.css';
@import './styles/components.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-headline);
  font-weight: 400;
}
